
body {
    background-color: #f5f5f5;
    color: #434343;
    font-family: monospace;
    min-height: 100vh;
    overflow-x: hidden;
    transition: color 0.3s ease, background-color 0.3s ease-in-out;
}

* {
    max-height: 100vh !important;
    box-sizing: border-box !important;
}

.dark-mode {
    background-color: #2e2e2e;
    color: #e6e6e6
}

.dark-mode .stat-card {
    background: #444;
    color: #eee;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
}

.dark-mode .table-wrapper {
    background: #444;
    color: #eee;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
}

.dark-mode table td,
.dark-mode table th {
    background: #444;
    color: #eee;
    border: none;
}

.dark-mode pre {
    background: #444 !important;
    color: #eee !important;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8) !important;
}

.dark-mode .overlay-menu {
    background: #444;
    color: #eee;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
}

.sidebar {
    background-color: #009432;
    min-height: 100vh;
    padding-top: 2rem;
    transition: all 0.3s ease;
    position: fixed;
}
.sidebar a {
    color: #fff;
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 100%;
}
.sidebar a:hover {
    background-color: #00b44b;
}

.currentpage {
    background-color: #00b44b;
}

.content {
    padding: 2rem;
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
table {
    background-color: rgba(255, 255, 255, 0.05);
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-top: 1rem;
}
th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
th {
    font-size: 18px;
    text-decoration: underline;
    background-color: #007e33;
    user-select: none;
}
.table-wrapper {
    max-height: 50vh;
    overflow-y: auto;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
button {
    margin: 0 2px;
}

.stat-card {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 1.5rem;
}

.core-load {
  margin-bottom: 0.5rem;
}

.text-success {
  color: #198754 !important;
}

.stat-label {
  font-weight: bold;
}

.stat-value {
  font-size: 1.3rem;
}

.core-load.text-danger,
.core-load.text-warning,
.core-load.text-success {
  font-weight: 500;
}

.overlay-background {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 10;
}

.visible {
    display: flex;
}

.overlay-menu {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 60%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.close-ol {
    width: 3rem;
    height: 3rem;
    border-radius: 0 0.5rem 0 0;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
    margin: 0;
    color: red;
    font-size: 24px;
    transition: 0.2s all ease-out;
}

.close-ol:hover {
    background-color: red;
    color: #fff;
}

.ol-title {
    font-size: 32px;
    font-family: 'Segoe UI';
    height: 25%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.ol-description {
    padding-top: 1rem;
    height: 70%;
    font-size: 26px;
    font-family: 'Segoe UI';
    text-align: center;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.overlay-menu hr {
    width: 75%;
    border: 1px solid #000;
}

.overlay-menu table {
    width: 60%;
    margin: auto;
}

.overlay-menu table thead th {
    background-color: #00b44b;
    font-size: 24px;
    text-decoration: none;
}

.overlay-menu table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}